#bottom-bar {
    height: 90px;
    background-color: #151515;
    display: flex;
}

.left-section, .right-section {
    width: 30%;
    display: flex;
    align-items: center;
    padding: 0 12px;
}

.center-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

/* Stili Sezione Sinistra */
.left-section .cover-box {
    width: 10%;
}

.left-section .cover-box img {
    width: 100%;
    cursor: pointer;
}

.left-section .music-textbox {
    padding-left: 15px;
}

.music-textbox .song-title a {
    color: #ffff;
    font-weight: 600;
}

.music-textbox .author a {
    color: #a3a3a3a1;
    font-size: 13px;
}

.music-textbox .song-title a:hover, .music-textbox .author a:hover {
    text-decoration: underline;
}

.left-section .icons-left {
    padding-left: 50px;
}

.icons-left a {
    color: #a3a3a3a1;
    font-size: 17px;
    padding: 0 5px;
}

.icons-left a:hover {
    color: #ffff;
}

.icons-left a:focus {
    color: #ff0000;
}

/* Stili Sezione Centrale */
.center-up, .center-down {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-section .center-up .playbar-icons {
    margin: 0 20px;
    font-size: 18px;
    color: #c1c1c1;
}

.center-section .center-up .playbar-icons i {
    transition: 0.2s;
    cursor: pointer;
}

.fa-circle-play {
    font-size: 34px;
}

.fa-circle-play:hover {
    color: #ffff;
}

.center-section .center-up .playbar-icons i:hover {
    transform: scale(1.1);
}

.center-section .center-down {
    margin-top: 8px;
    color: #ffff;
}

.center-down .song-timeline {
    width: 600px;
    height: 4px;
    border-radius: 20px;
    background-color: #a3a3a3a1;
    cursor: pointer;
}

.song-timeline .song-play {
    width: 100px;
    height: 4px;
    border-radius: 20px;
    background-color: #ffff;
}

.song-timeline .active-timeline:hover .song-play {
    background-color: #adff2f;
}

.song-timeline:hover .active-timeline::after {
    display: block;
}

.song-timeline .active-timeline:hover {
    position: relative;
}

.active-timeline::after {
    content: '';
    position: absolute;
    top: -5px;
    right: 82%;
    background: #ffff;
    height: 15px;
    width: 15px;
    border-radius: 20px;
    display: none;
}

.center-down .song-time {
    margin: 0 10px;
    font-size: 12px; 
}

/* Stili Sezione Destra */
.right-section {
    justify-content: flex-end;
}

.right-section .icons-right {
    padding-right: 20px;
}

.icons-right a {
    color: #c1c1c1;
    font-size: 16px;
    padding: 0 8px;
}

.icons-right i {
    transition: 0.2s;
}

.icons-right i:hover {
    transform: scale(1.1);
}

.right-section .volume-bar {
    width: 140px;
    height: 4px;
    border-radius: 20px;
    background-color: #a3a3a3a1;
    cursor: pointer;
}

.volume-bar .current-volume {
    width: 40px;
    height: 3px;
    border-radius: 20px;
    background-color: #ffff;
}

.volume-bar .active-volume:hover .current-volume {
    background-color: #adff2f;
}

.volume-bar:hover .active-volume::after {
    display: block;
}

.volume-bar .active-volume {
    position: relative;
}

.active-volume::after {
    content: '';
    position: absolute;
    top: -5px;
    right: 68%;
    background: #ffff;
    height: 13px;
    width: 13px;
    border-radius: 20px;
    display: none;
}
