/* Stili Macro Aree */
#wrapper-up {
    height: calc(100vh - 90px);
    background-color: #141922;
    display: flex;
}

#sidebar {
    width: 250px;
    height: 100%;
    background-color: #000000;
}

#main-content {
    flex-grow: 1;
    height: 100%;

    /* DEBUG */
}

/* Stili Sidebar */
/* Stili Logo */
#sidebar-up {

}

.logo-box {
    margin: 25px 0;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.logo-box img {
    width: 70%;
}

/* Stili sezione di navigazione */
nav {
    margin-bottom: 20px;
    
}

nav ul li {
    padding: 8px 20px;
}

nav ul .fa-solid {
    font-size: 22px;
    margin-right: 5px;
}

nav ul .fa-magnifying-glass {
    margin-right: 8px;
}

nav .active {
    border-left: 3px solid #adff2f;
}

nav .active a, nav .active i {
    color: white;
}

ul li a, ul li i {
    font-size: 16px;
    color: #a3a3a3a1;
}

ul li a:hover {
    color: #ffff;
}

/* Stili sezione creazione playlist */
.playlist-section {
    padding-left: 20px;
    color: #ffff;
    /* DEBUG */
    height: calc(100vh - 416px);
    overflow-y: auto;
}

.playlist-section .section-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.add-playlist-box {
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.add-playlist-box a {
    color: #a3a3a3a1;
}

.add-playlist-box a:hover {
    color: #ffff;
}

.add-playlist-box i {
    font-size: 20px;
    color: #000000;
    padding: 8px 10px;
    background-color: #a3a3a3;
    margin-right: 12px;
}

.add-playlist-box i:hover {
    background-color: #ffff;
}

.playlist-section li {
    padding: 10px 0;
}

/* Stili sezione profilo  */
#sidebar-down {
    /* DEBUG*/
}

.profile-section {
    padding: 0 20px;
}

.install-box {
    border-bottom: 1px solid #a3a3a3a1;
    font-size: 18px;
    padding: 8px 0;
}

.install-box a {
    display: flex;
    align-items: center;
    color: #a3a3a3a1;
}

.install-box i {
    font-size: 6px;
    border: 1px solid #a3a3a3a1;
    border-radius: 40px;
    padding: 3px 4px;
    margin-right: 10px;   
}

.profile-box {
    font-size: 18px;
    padding: 8px 0;
    color: #ffff;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.profile-box img {
    width: 15%;
    margin-right: 10px; 
    background: #a3a3a3a1;
    padding: 2px 3px;
    border-radius: 40px;
}